<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order Status</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
<div style="max-width: 600px; margin: auto; background: #fff; padding: 20px; border-radius: 4px;">
    <h1 style="text-align: center;">VENDORA</h1>
    <h2 style="color: #333;">Hello, <span th:text="${username}">User</span>!</h2>
    <p>Your import was unsuccessful </p>
    <h2>Errors</h2>
    <div th:each="error : ${errors}">
        <div th:text="${error}">Error</div>
    </div>
</div>
</body>
</html>
